@use "../../themes/theme.scss";

.primary {
  background-color: theme.$primary;
}

.accept {
  background-color: theme.$accept;
}

.danger {
  background-color: theme.$danger;
}

.warn {
  background-color: theme.$warn;
}
